.head{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
text-align:center;
}
.foot{
	font:15px/1.3 'Open Sans', sans-serif;
	color: #5e5b64;
	text-align:center;
}

a, a:visited {
	outline:none;
	color:#FFA500;
}
a.home:hover{
	border-radius:5px;
	text-decoration:none;
	background-color:#FFA500;
}


a.index:hover{
	border-radius:5px;
	text-decoration:none;
	background-color:#FFA500;
	
	
}
a.index:hover,a.install:hover,a.user:hover,a.chats:hover,a.rst:hover,a.publicyapp:hover,a.promotyapp:hover,a.admin:hover,a.eveyapp:hover,a.config:hover,a.logout:hover{

	text-decoration:none;
	background-color:#FFA500;
}
a.home2{
		background-color:#FFA500;
}

a.home_index

{
	border-radius:5px;
	text-decoration:none;
	background-color:#FFA500;
}
a.btnDelete{color:#0000ff;}
.btnDelete {color:#0000ff;}
a.btnDelete:link {color:#0000ff;}
a.btnDelete:visited {color:#0000ff;}
a.btnDelete:hover {color:none;}

a.btnPromoEdit:link {color:#0000ff;}
a.btnPromoEdit:visited {color:#0000ff;}
a.btnPromoEdit:hover {color:none;}


a.btnDeleteee:link {color:#0000ff;}
a.btnDeleteee:visited {color:#0000ff;}
a.btnDeleteee:hover {color:none;}

a.headerr:visited {display:inline-block;
	padding: 18px 30px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;
	color:#0000ff;
	font-size:10px;
	}
a.headerr:link {display:inline-block;
	padding: 1px 10px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;
font-size:14px;
	}
a.headeact:link {display:inline-block;
	padding: 1px 10px;
	color:#fff !important;
	font-weight:bold;
	font-size:16px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;
font-size:14px;
	}
a.btnEdit,a.btnPublicEdit,a.btnEventEdit,a.headeact:link {color:#0000ff;}
a.btnEdit,a.btnPublicEdit,a.btnEventEdit,a.headeact:visited {color:#0000ff;}
a.btnEdit,a.btnPublicEdit,a.btnEventEdit,a.headeact:hover {color:#0000ff;}
section, footer, header, aside, nav{
	display: block;
}


/*-------------------------
	The menu
--------------------------*/



nav{
	display:inline-block;
	margin:30px auto 0px;
	background-color:#5597b4;
	box-shadow:0 1px 1px #ccc;
	border-radius:5px;
}

nav a{
	display:inline-block;
	padding: 17px 21px;
	color:#fff !important;
	font-weight:bold;
	font-size:15px;
	text-decoration:none !important;
	line-height:1;
	text-transform: uppercase;
	background-color:transparent;

	-webkit-transition:background-color 0.25s;
	-moz-transition:background-color 0.25s;
	transition:background-color 0.25s;
}



#nav {
    display:inline-block;
    
    background-color:#5597b4;
   
    
    font:15px/1.3 'Open Sans', sans-serif;
    color: #5e5b64;
    text-align:center;

}

#nav_wrapper {
    
    text-align: left;
    display:inline-block;
    
    color:#5597b4 !important;
    
    font-size:15px;
    text-decoration:none !important;
    line-height:1;
    text-transform: uppercase;
    background-color:transparent;
}
#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    
}
#nav ul li {
    display: inline-block;
}
#nav ul li:hover {
   text-decoration:none;
    background-color:#5597b4;
}

#nav ul li:hover ul {
    display: block;
}
#nav ul ul {
    display: none;
    position: absolute;
    background-color: #5597b4;
     
}
#nav ul ul li {
    display: block;
}
#nav ul ul li a:hover {
    color: #699;
}

.display>tbody>tr>th,
  .display>tbody>tr>td,
   .display>tbody>tr{   font-family:"Arial", Gadget, sans-serif;}
   .display>thead,  .display>thead>tr>th,.display>thead>tr>td{  background-color:#fff; 
     font-family:"Arial Black", Gadget, sans-serif;
  
	
	color:#000000 !important;}
	.tableddd>tbody>tr>td.aff{
	  font-family:"Arial Black", Gadget, sans-serif;
	}
	

